.anim-container {
    margin: auto;
    border: 1px solid black;
    border-radius: 1rem;
    width: fit-content;
    padding: 1rem;
    background-color: white;
  }
  
  .anim-field {
    border: 1px solid black;
    border-radius: 1rem;
    position: relative; /* needed for absolute ball */
    width: 100%;        /* responsive width */
    max-width: 650px;   /* maximum width */
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  
  .anim-ball {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: lightgray;
    background-position: center;
    background-size: cover;
    position: absolute; /* needed for movement */
  }
  
  .anim-control {
    margin-top: 1rem;
  }
  